@using OnlineShopping.Models;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<Product>
@{
    ViewData["Title"] = "Home Page";
}
<br /> <br />

<div class="row">
    @foreach(var product in Model)
    {
        <div class="col-4">
            <div class="car mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 23px; color: steelblue">@product.Name</label>
                    </h4>
                </div>
                <img src="~/@product.Image" alt="Card Image" class= "card-img-top" style="height:300px"/>
                <div class="card-header">
                    <div class="d-flex justify-content-between align-item-center">
                        <div class="btn-group">
                            <label style="font-size: 20px; color: #a51313"><b>Price: @product.Price</b></label>
                        </div>
                        <a asp-action="Details" asp-controller="Home"  asp-route-id="@product.Id" class="btn btn-success pull-right btn-outline-info">Details View</a>
                    </div>
                </div>

            </div>
            </div>
    }
</div>
<div>
    @Html.PagedListPager(Model,c=>Href("~/Customer/Home/Index?page="+c),PagedListRenderOptions.PageNumbersOnly)
</div>