@{
    ViewData["Title"] = "Edit";
}
<h2 class="text-info">Edit Role</h2>
<form asp-action="Edit" method="post" id="role-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <h3>@ViewBag.Mgs</h3>
        <div class="form-group row">
            <div class="col-2">
                <label> Role Name</label>               
            </div>
            <input type="hidden" name="id" value="@ViewBag.id" />
            <div class="col-5">
                <input id="name" name="name"  value="@ViewBag.name" required="required" class="form-control" />
            </div>           
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial.cshtml");
    }
    <script>
        $(document).ready(function() {
            $("#role-form").validate({
                rules: {
                    UserName: {
                        required: true,
                    },
                    PasswordHash: {
                        required: true,
                    }
                },
                messages: {
                    UserName: "Enter your email",
                    PasswordHash: "Enter your password"
                }

            });
        });
    </script>

    }